
@model Application.Core.Models.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login"; 
}

 
<form method="post" asp-controller="Users" asp-action="_LoginPartial" class="form-horizontal" role="form"> 
    @Html.AntiForgeryToken()
    <span class="text-danger">  @Html.Raw(ViewBag.Message)</span>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
         @Html.LabelFor(m => m.username, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.username, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.username, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Log in" class="btn btn-default" />
        </div>
</div>    
</form>