@using Application.Infrastructure
@model IEnumerable<Stocks>

 
@if ( TempData["TickerSecond"] != "0")
{
    <script type="text/javascript">setTimeout(function () { location.reload(1); }, @TempData["TickerSecond"]);</script>
}

@if (Model.Any())
{
    <table class="table table-striped table-bordered table-responsive table-condensed table-hover">
        <tr>
            <th>@Html.DisplayNameFor(x=>x.Id)</th>
            <th>@Html.DisplayNameFor(x=>x.Code)</th>
            <th>@Html.DisplayNameFor(x=>x.Name)</th>
            <th>@Html.DisplayNameFor(x=>x.Price)</th>
            <th>@Html.DisplayNameFor(x=>x.Piece)</th>
            <th>@Html.DisplayNameFor(x=>x.IsActive) ?</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
          
        @foreach (Stocks stock in Model)
        {
    
                 <tr>
                     <td>@stock.Id </td>
                     <td>@stock.Code</td>
                     <td>@stock.Name</td>
                     <td>@stock.Price </td> 
                     <th>@stock.Piece</th>
                     <td>@(stock.IsActive) </td> 
                     <td>@Html.ActionLink("Edit","StockForm","Stocks",new {stockId=@stock.Id,userId=@stock.UserId})</td>
                     <td><a href="/Stocks/DeleteStock/@stock.UserId/@stock.Id">[Delete]</a></td>
                 </tr>
           
        }


    </table>
}
else
{
    <div>There is  no stocks</div>
}

